@model ScheduleCore.Application.QueryHandlers.PageResult<ScheduleCore.Application.QueryHandlers.ClientInformationDto>
@{
	ViewData["Title"] = "Klienci";
}


<form>
	<div class="row">
		<div class="col-6">
			<h2 class="text-info">Lista klientów</h2>
		</div>
		<form method="post">
			<div class="mb-3">
				<button type="submit" class="btn btn-primary me-3"
						asp-controller="Client"
						asp-action="CreateClientView">
					Dodaj klienta
				</button>
			</div>
		</form>
	</div>



	<div class="border bg-white">


		<table class="table">
			<tr>
				<th>
					<a>Imię</a>
				</th>
				<th>
					<a>Nazwisko</a>
				</th>
				<th>
					@*@Html.DisplayNameFor(m => m[0].PhoneNumber)*@
					<a>Numer tel.</a>
				</th>
			</tr>
			@foreach (var item in Model.Items)
			{
				<tr>
					<td>
						@Html.DisplayFor(m => item.Name)
					</td>
					<td>
						@Html.DisplayFor(m => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(m => item.PhoneNumber)
					</td>
					<td>
						<form method="get">
							<div>
								<button type="submit" class="btn btn-primary me-3"
									asp-controller="Client"
									asp-action="DeleteClient"
									asp-route-ClientId="@item.Id">
									Usuń
								</button>
							</div>
						</form>
					</td>
					<td>
						<form method="get">
							<div>
								<button type="submit" class="btn btn-primary me-3"
									asp-controller="Client"
									asp-action="GetClientById"
									asp-route-ClientId="@item.Id">
									Szczegóły
								</button>
							</div>
						</form>
					</td>
				</tr>
			}
		</table>

	</div>
</form>
<form>
	<div class="border bg-white">


		<table class="table">
			<tr>
				<th>
					<a>Liczba klientów: @Model.TotalResults</a>
				</th>
				<th>
					<a>Liczba stron: @Model.TotalPages</a>
				</th>
				<th>
					@*@Html.DisplayNameFor(m => m[0].PhoneNumber)*@
					<a>Wyświetlono klientów od: @Model.ItemsFrom do @Model.ItemsTo</a>
				</th>
			</tr>
		</table>
	</div>
</form>

<form method="get">
	<div class="mb-3">
		<label class="form-label">Strona</label>
		<input type="text" class="form-control" asp-for="PageNumber" value="@Model.PageNumber"/>
	</div>
	<div class="mb-3">
		<label class="form-label">Ilość pozycji na stronę</label>
		<input type="text" class="form-control" asp-for="Pagesize" value="@Model.Pagesize"/>
	</div>
	<div class="mb-3">
		<button type="submit" class="btn btn-primary me-3"
				asp-controller="Client"
				asp-action="Clients">
			Dalej
		</button>
	</div>

</form>